<!DOCTYPE html>
<html>
<head>
    <title>Create Student Form</title>
</head>
<body>
    <h1>Create Student</h1>

    <form method="post" action="">
        {% csrf_token %}

        <div>
            <label for="id_first_name">First Name:</label>
            {{ form.first_name }}
        </div>

        <div>
            <label for="id_last_name">Last Name:</label>
            {{ form.last_name }}
        </div>

        <div>
            <label for="id_email">Email:</label>
            {{ form.email }}
        </div>

        <button type="submit">Submit</button>
    </form>

</body>
</html>