<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar with Centered Logo</title>
    <link rel="stylesheet" href="nav.css">
 </head>
<body>

    
    <header>
        <nav>
            <h1>UniVah</h1>
            <ul>
                <li><a href="#book-ride">Book a Ride</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#reviews">Reviews</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    
    

    <script src="nav.js"></script>
</body>
</html>
